<html>
  <head>
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h3> Booking Page: </h4>
        <br>
        <br>
        <p><a href="/stylist/new">Choose/Add Stylist.</a></p>
      </div>
    </div>
  </body>
</html>
