<html>
  <head>
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h3> Add Client: </h3>
        <br>
        <br>
        <form action="/ClientList" method="post">
          <select name="stylist-list">
            @foreach (var stylist in Model)
            {
              <option name="@stylist.GetId()">@stylist.GetStylistName()</option>
            }
          </select>
          <label for="client-full-name">Client's Full Name:</label>
          <input id="client-full-name" name="client-full-name" type="text">
        </form>
        <button type="submit">Add Client</button>
      </div>
    </div>
  </body>
</html>
