<html>
  <head>
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h3> Add Stylist: </h3>
        <br>
        <br>
        <form action="/contact" method="post">
          <label for="stylist-full-name">Stylist's Full Name:</label>
          <input id="stylist-full-name" name="stylist-full-name" type="text">

          <button type="submit">Add Stylist</button>
        </form>
      </div>
    </div>
  </body>
</html>
