<html>
  <head>
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h3> Stylists: </h3>
        <br>
        <br>
        <ul>
        @foreach(var stylist in Model)
        {

          <li>@stylist.GetStylistName() <br>
          <p><a href="/stylist/client">See Clients</a>  |  <a href="/stylist/client/new">Add Clients</a></p>
          </li>
          
        }
        </ul>
        <p><a href="/stylist/new">Add New Stylist to System.</a></p>
      </div>
    </div>
  </body>
</html>
